*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container .navbar *{
color: #205246;
}
.custom-navbar{
    background-color: #f8f9fa;
    border-radius: 15px; /* Apply rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: to give a shadow effect */
}
.nav-item:hover{
    background-color: #b6efc5;
    border-radius: 10px;
    text-align: center;
}
.navbar li{
    margin-right:15px;
}